**/*.o
**/*.bin
**/*.dis
**/*.elf
**/*.map
**/*.rom
**/*.sym
r68k
build
cmake-build-*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode/*
*.stackdump
